# Emacs自動生成ファイル
auto-save-list/
eln-cache/
elpa/
backups/
clone-package/
transient/

# バックアップファイル
*~
*.elc
.#*
\#*\#

# 一時ファイル
init.el.backup
init.el~
benchmark-init.el
init-solution1.el
init-optimized.el
init-fast.el
fix-native-comp.sh


# OS固有ファイル
.DS_Store
Thumbs.db
projectile-bookmarks.eld 